<nav class="navbar navbar-expand-md contact">
    <p class="text-white mb-0"><strong>Prop: RajaSimman, Astrologer</strong></p>
    <div class="ml-auto text-white">
        <p class="mb-0">
            <strong> 
                <a href="tel:9344737090" class="text-white">Contact: 9344737090</a>
                <a href="mailto:rajarojamatrimony@gmail.com" class="text-white">&nbsp;&nbsp; rajarojamatrimony@gmail.com</a>
            </strong>
        </p>
    </div>
</nav>
<nav class="navbar navbar-expand-md main">
    <!-- Brand -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" width="75" class="img-responsive d-inline-block rounded" alt="">
        </a>
    </div>    
    <h4 class="text-white mx-auto text-center">
        <strong>RajaRoja</strong><br>
        Matrimony
    </h4>
    
    
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler rounded" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars"></i>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        
        <ul class="navbar-nav ml-auto">    
            <li class="nav-item"><a class="nav-link" routerLink='/home'>Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/about'>About us</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/profiles'>Profiles</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/payments'>Payments</a></li>
            <li class="nav-item dropdown" *ngIf="isLogged">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item text-dark" (click)="viewMyProfile()" routerLink='/profiledetail/{{id}}'>View Profile</a>
                    <a class="dropdown-item text-dark" routerLink='/update/{{id}}'>Edit Profile</a>
                    <a class="dropdown-item text-dark" (click)="onLogout()" routerLink='/home'>Log Out</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdown-toggle text-dark pt-0 pb-0" id="settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="settings">
                        <a class="dropdown-item text-dark">My Account</a>
                        <a class="dropdown-item text-dark" data-target="#delete-modal" data-toggle="modal">Delete Profile</a>
                    </div>
                </div>
            </li>
            <li class="nav-item" *ngIf="!isLogged"><a class="nav-link" routerLink='/register'>Register</a></li>
            <li class="nav-item" *ngIf="!isLogged"><a class="nav-link" data-target="#login-modal" data-toggle="modal">Login</a></li>
        </ul>
 
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header del text-white p-2">
                        <h5 class="modal-title">Delete Account</h5>       
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="mr-2" aria-hidden="true">&times;</span>
                        </button>     
                    </div>
                    <form novalidate [formGroup]="deleteForm" autocomplete="off">
                        <div class="modal-body">
                            <p>Are you absolutely sure?</p>
                            <p>This action cannot be undone. This will permanently delete your account and also shortlists, viewed contact details etc.,</p>
                            
                            <div class="form-group">
                                <label for="password" class="col-form-label">Enter password to delete account</label>
                                <input formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && df.password.errors }" required>
                                <div *ngIf="df.password.errors" class="invalid-feedback">
                                    <div *ngIf="df.password.errors.required">Password is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" (click)="onDelete()" data-dismiss="modal">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <form novalidate [formGroup]="loginForm" autocomplete="off">
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-white">
                            <h5 class="modal-title">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id" class="col-form-label">Member Id</label>
                                <input type="text" formControlName="id" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" formControlName="password" class="form-control" required>
                            </div>
                            <div class="text-center">
                                <p>or</p>
                                <a class="btn btn-success" routerLink="/register" data-dismiss="modal">Register</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="nav-link mr-auto" data-target="#reset-modal" data-toggle="modal" data-dismiss="modal">Forgot password?</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" (click)='onSubmit()' routerLink="/home" data-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
          
        <div class="modal fade" id="reset-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-white p-2">
                        <h5 class="modal-title">Reset your password</h5>       
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="mr-2" aria-hidden="true">&times;</span>
                        </button>     
                    </div>
                    <form novalidate [formGroup]="resetPassForm" autocomplete="off">
                        <div class="modal-body">
                            <p>Enter your primary contact number below. We'll look for your account and send you a password reset message.</p>
                            <div class="form-group">
                                <label for="primary_contact" class="col-form-label">Contact number</label>
                                <input formControlName="contact_main" class="form-control" [ngClass]="{ 'is-invalid': resetSubmitted && rf.contact_main.errors }" required>
                                <div *ngIf="resetSubmitted && rf.contact_main.errors" class="invalid-feedback">
                                    <div *ngIf="rf.contact_main.errors.required">Contact number is required to reset</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" (click)='resetPassword()' data-dismiss="modal">Send Password Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</nav>
