<nav class="navbar navbar-expand-md contact">
    <p class="text-white mb-0"><strong>Prop: RajaSimman, Astrologer</strong></p>
    <div class="ml-auto text-white">
        <p class="mb-0">
            <strong>
                +91 9344737090 
                <a href="mailto:rajarojamatrimony@gmail.com" class="text-white">&nbsp;&nbsp; rajarojamatrimony@gmail.com</a>
            </strong>
        </p>
    </div>
</nav>
<nav class="navbar navbar-expand-md main">
    <!-- Brand -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" width="75" class="img-responsive d-inline-block rounded" alt="">
        </a>
    </div>    
    <h4 class="text-white mx-auto text-center">
        <strong>RajaRoja</strong><br>
        Matrimony
    </h4>
    
    
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler rounded" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars"></i>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        
        <ul class="navbar-nav ml-auto">    
            <li class="nav-item"><a class="nav-link" routerLink='/home'>Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/about'>About us</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/profiles'>Profiles</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/payments'>Payments</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/register'>Register</a></li>
            <li class="nav-item"><a class="nav-link" data-target="#login-modal" data-toggle="modal">Login</a></li>
        </ul>
 
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="id" class="col-form-label">Member Id</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" routerLink="/profiles"  data-dismiss="modal" (click)="save()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
</nav>