<footer class="jumbotron">
    <div class="container row">
        <section class="col-md-7 offset-md-1">
            <h4>About</h4>
            Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
        </section>
        <aside class="col-md-2 offset-md-2">
            <h4>Contact</h4>
            <ul class="list-group list-unstyled">
                <li class=""><a href="mailto:amirtha4501@gmail.com">Mail</a></li>
                <li class=""><a href="">Whatsapp</a></li>
                <li class=""><a href="">Facebook</a></li>
            </ul>
        </aside>
    </div>
    <div class="container row offset-md-4 mt-5">
        <address >6/14, South Saliya Street, Koranad, Mayiladuthurai - <code>609001</code></address>
    </div>
    <div class="container row offset-md-5">
        &copy;Copyrights by ammu
    </div>
</footer>