<footer class="footer pb-3">
    <div class="container text-white text-center pt-2 mt-5">
        <h3><strong>ராஜா ரோஜா திருமண இணையம்</strong></h3>
    </div>
    <div class="text-center">
        <div class="container">

            <aside class="text-center text-white">
                <p>(அனைத்து பிரிவினருக்கும்)</p>
            </aside>

            <section class="text-center text-white mt-4">
                <strong>Contact</strong>
                <p>
                    <a href="mailto:rajarojamatrimony@gmail.com">rajarojamatrimony@gmail.com</a>
                    <br>
                    <a href="tel:9344737090" class="text-white">Call now</a>
                    <br>
                    <a href="https://api.whatsapp.com/send?phone=919994411772">WhatsApp us</a>
                </p>
            </section>
        </div>
    </div>
    <div class="container text-center text-white mt-2">
        <address>1, Bumi nagar, Pechavadi, Mayiladuthurai - 609001</address>
    </div>
    <div class="container text-center text-white">
        &copy; developed by Amirtha
    </div>
</footer>