<section class="container">
    <div class="mt-5 mb-5 col-10 mx-auto card-columns">
        <div class="card text-center">
            <div class="card-header text-white classic">
                <h4>Classic</h4>
            </div>
            <div class="card-body">
                <strong>Contact access</strong>
                <p>50 persons</p>
                <strong>Validity</strong>
                <p>100 days</p>
            </div>
            <div class="p-1 text-white classic">
                <h6>₹500</h6>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header text-white premium">
                <h4>Premium</h4>
            </div>
            <div class="card-body">
                <strong>Contact access</strong>
                <p>100 persons</p>
                <strong>Validity</strong>
                <p>200 days</p>
            </div>
            <div class="p-1 text-white premium">
                <h6>₹1000</h6>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header text-white advanced">
                <h4>Advanced</h4>
            </div>
            <div class="card-body">
                <strong>Contact access</strong>
                <p>Unlimited</p>
                <strong>Validity</strong>
                <p>Till getting married</p>
            </div>
            <div class="p-1 text-white advanced">
                <h6>₹2000</h6>
            </div>
        </div>
    </div>
</section>