@media screen and (max-width: 992px) {
    nav li a {
        font-size: 20px;
        color: white;
    }
}
  
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 700px) {
    nav li a {
        font-size: 20px;
        color: white;
    }
    nav a img {
        width: 75px;
    }
}

@media screen and (max-width: 2700px) {
    nav li a {
        font-size: 20px;
        color: white;
    }
}