@media screen and (max-width: 992px) {
    nav li a {
        font-size: 20px;
        color: white;
    }
}
  
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 700px) {
    nav li a {
        font-size: 20px;
        color: white;
    }
    nav a img {
        width: 75px;
    }
}

@media screen and (max-width: 2700px) {
    nav li a {
        font-size: 20px;
        color: white;
    }
}

nav li a:hover {
    background-color: orange;
    border-radius: 5px;
}

.navbar-default{
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
}


.navbar {
    background-image:
    /* linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),  */
    url('src/assets/images/placeholder.jpg');
    background-attachment: fixed;
    background-position: auto,center top;
  }
