<section class="bg-warning">
    <fieldset class="scheduler-border card border-custom">
        <img src="{{imgUrls[0]}}" class="profile ml-auto w-25" alt="">
        <label class="col-form-label col-6 bg-danger" for="name">Full name:</label>
        <label class="col-form-label col-6 bg-danger" for="dob">DOB</label>
        <label class="col-form-label col-6 bg-danger" for="birth_time">Birth time</label>
        <label class="col-form-label col-6 bg-danger" for="birth_place">Birth Place</label>
        <label class="col-form-label col-6 bg-danger" for="caste">Religion</label>
        <label class="col-form-label col-6 bg-danger" for="caste">Caste</label>
        <label class="col-form-label col-6 bg-danger" for="subcaste">Sub caste</label>
        <label class="col-form-label col-6 bg-danger" for="gothram">Gothram</label>
        <label class="col-form-label col-6 bg-danger" for="star">Star</label>
        <label class="col-form-label col-6 bg-danger" for="qualification">Qualification</label>
        <label class="col-form-label col-6 bg-danger" for="job">Job</label>        
        <label class="col-form-label col-6 bg-danger" for="work_place">Work place</label>
        <label class="col-form-label col-6 bg-danger" for="income">Income</label>
        <label class="col-form-label col-6 bg-danger" for="height">Height(ft)</label>
        <label class="col-form-label col-6 bg-danger" for="weight">Weight(kg)</label>
        <label class="col-form-label col-6 bg-danger" for="mother_tongue">Mother Tongue</label>
        <label class="col-form-label col-6 bg-danger" for="known_language">Known language</label>
        <label class="col-form-label col-6 bg-danger" for="nativity">Nativity</label>
        <label class="col-form-label col-6 bg-danger">Marital status</label>
        <label class="col-form-label col-6 bg-danger" for="talents">Talents</label>
        <label class="col-form-label col-6 bg-danger" for="hobbies">Hobbies</label>
        <label class="col-form-label col-6 bg-danger">Vehicle driving</label>
        <label class="col-form-label col-6 bg-danger">Disabilities</label>
        
    </fieldset>
</section>
<!-- <aside class="bg-primary">
    <img src="{{imgUrls[0]}}" class="img-responsive w-25" alt="">
</aside> -->