<form novalidate [formGroup]="regForm" (ngSubmit)="onSubmit()" class="form-inline" autocomplete="off">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <fieldset class="border-custom card rounded mt-5">
                    <h2 class="text-center card-header text-white">Personal details</h2>

                    <div class="form-group container justify-content-center">
                        <div class="text-center p-3">
                            <div *ngIf="imgURL">
                                <img [src]="imgURL" class="card card-img-top rounded img-fluid mx-auto d-block">
                            </div>
                            <div *ngIf="!imgURL">
                                <label class="myLabel text-white btn p-1">
                                    <input #file type="file" accept='image/*' (change)="preview(file.files)" id="img" class="inputfile"/>
                                    <div>
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        <span><strong>&nbsp;&nbsp;Upload photo 1</strong></span>
                                    </div>
                                </label>
                            </div>
                            <div *ngIf="imgURL">
                                <label class="resetLabel text-white">
                                    <div (click)="resetFileUploader()">Reset image</div>
                                </label>
                            </div>
                        </div>

                        <div *ngIf="imgURL" class="text-center p-2">
                            <div *ngIf="imgURL1">
                                <img [src]="imgURL1" class="card card-img-top rounded img-fluid mx-auto d-block">
                            </div>
                            <div *ngIf="!imgURL1">
                                <label class="myLabel text-white btn p-1">
                                    <input #file type="file" accept='image/*' (change)="preview1(file.files)" class="inputfile"/>
                                    <div>
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        <span><strong>&nbsp;&nbsp;Upload photo 2</strong></span>
                                    </div>
                                </label>
                            </div>
                            <div *ngIf="imgURL1">
                                <label class="resetLabel text-white">
                                    <div (click)="resetFileUploader1()">Reset image</div>
                                </label>
                            </div>
                        </div>
                        
                        <div *ngIf="imgURL && imgURL1" class="text-center p-3">
                            <div *ngIf="imgURL2">
                                <img [src]="imgURL2" class="card card-img-top rounded img-fluid mx-auto d-block">
                            </div>
                            <div *ngIf="!imgURL2">
                                <label class="myLabel text-white btn p-1">
                                    <input #file type="file" accept='image/*' (change)="preview2(file.files)" class="inputfile"/>
                                    <div>
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        <span><strong>&nbsp;&nbsp;Upload photo 3</strong></span>
                                    </div>
                                </label>
                            </div>
                            <div *ngIf="imgURL2">
                                <label class="resetLabel text-white">
                                    <div (click)="resetFileUploader2()">Reset image</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>
<app-register [id]=id [isUpdate]=isUpdate></app-register>