@media screen and (max-height: 570px) {
    .card img {
        height: 100px;
    }
}

@media screen and (min-height: 571px) and (max-height: 670px) {
    .card img {
        height: 110px;
    }
}
@media screen and (min-height: 671px) and (max-height: 840px) {
    .card img {
        height: 100px;
    }
}
@media screen and (min-height: 841px) and (max-height: 1025px) {
    .card img {
        height: 200px;
    }
}
@media screen and (min-height: 1026px) and (max-height: 1400px) {
    .card img {
        height: 250px;
    }
}
@media screen and (min-width:1025px) {
    .card img {
        height:300px;
    }
}


@media screen and (min-width: 760px) and (max-width: 1000px) {
    .form-ele {
        margin-left: 10px;
    }
}
@media screen and (min-width: 5000px) {
    .form-ele {
        margin-left: 100px;
    }
}
@media screen and (min-width: 1001px) {
    .form-ele {
        margin-left: 90px;
    }
}


.watermark {
    color: white;
    color: rgba(253, 252, 252, 0.295);
    transform: rotate(-90deg);
    white-space: nowrap;
    font-family: Arial, sans-serif;
    position: absolute;
}