<!-- <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <div class="d-flex w-100 align-items-center justify-content-center">
                <img class="w-100" src="assets/images/c1.jpg"  width="1100" height="500">
                <h1 class="">Text 1</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex w-100 align-items-center justify-content-center">
                <img class="w-100" src="assets/images/c2.jpg"  width="1100" height="500">
                <h1>Text 2</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex w-100 align-items-center justify-content-center">
                <img class="w-100" src="assets/images/c3.jpg"  width="1100" height="500">
                <h1>Text 3</h1>
            </div>
        </div>
    </div>
</div> -->

<div class="tech-slideshow">
    <div class="mover-1"></div>
    <div class="mover-2"></div>
</div>

<div class="container mt-3 mb-5 p-5">
    <div class="container-fluid pt-5 pb-5 bg-white">
        <ul>
            <li>
                <p>ராஜா ரோஜா திருமண இணையம், ஜோதிடரால் நடத்தப்படுவதால் திருமண பொருத்தபலன்கள் துல்லியமாக கணக்கிட்டு சொல்லப்படுகிறது.</p>
            </li>
        
            <li>
                <p>Off-line வசதி இருப்பதால் வரண்கள் வாட்ஸ்ஆப் மூலம் தங்களின் மொபைல்களுக்கு ப்ரத்யோகமாக அனுப்பி வைக்கப்படுகிறது.</p>
            </li>
        
            <li>
                <p>Off-line வசதியை தேர்ந்தெடுத்தால், அந்த வரண்களை On-Line மூலம் பார்க்க இயலாது.
                Off-line கட்டணம் தனி.</p>
            </li>
        
            <li>
                <p>இத்தளம், அனைவரும் வரண்களை பதிவு செய்ய ஏதுவாக எளிமையாக வடிவமைக்கப்பட்டுள்ளது. பதிவுசெய்வதில் சிரமம் இருப்பின்,  வரண்களின் விபரத்தை எங்களுக்கு வாட்ஸ்ஆப் மூலம் அனுப்பினால், நாங்களே பதிவு செய்து ID தருகிறோம்.</p>
            </li>
        
            <li>
                <p>தோஷம் இருக்கும் வரண்களுக்கு அதிக கவனம் செலுத்தப்படும்.</p>
            </li>
        
            <li>
                <p>வரண்களின் உண்மைத்தன்மையை உறுதி செய்யப்பட்ட பின்னரே பதிவிற்க்கான உறுப்பினர் ID வழங்கப்படும்.
                வரண்கள், பதிவு செய்த 24 மணி நேரத்திற்க்குள் உறுப்பினர் ID வழங்கப்படும்.</p>
            </li>

            <li>
                <p>திருமண இடைத்தரகர்கள் இத்தளத்தில் பதிவு செய்ய கூடாது.
                ஒரு வரணுக்கு, ஒரு உறுப்பினர் ID மட்டுமே வழங்கப்படும்.</p>
            </li>

            <li>
                <p>பெற்றோர்களின் சம்மதம் பதிவுக்கு மிக அவசியம்.</p>
            </li> 
        </ul>
    </div>

</div>