.img-responsive {
    max-height: 65vh;
  }

.carousel-item {
  	height: 100vh;
  	background-size: cover;
  	background-position: center center;
}

.carousel-item h1 {
    margin: 0;
    position: absolute;
    color: white;
    font-family: "trajan-color";
    font-size: 100px;
    line-height: 1.3;
    font-weight: 400;
}
