<form action="" class="form-inline" autocomplete="off">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <fieldset class="border-custom card rounded mt-5">
                    <h2 class="text-center card-header text-white">Personal details</h2>
                    <aside class="container mt-5 mb-4 text-center">
                        <div class="col-4 mx-auto" *ngIf="imgURL">
                            <img [src]="imgURL" class="card card-img-top rounded img-fluid">
                        </div>
                        <div>
                            <label class="myLabel text-white btn btn-lg p-1">
                                <input #file type="file" accept='image/*' (change)="preview(file.files)" class="inputfile" data-multiple-caption="{count} files selected" multiple/>
                                <div>
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <span><strong>&nbsp;&nbsp;Upload the photo&hellip;</strong></span>
                                </div>
                            </label>
                        </div>
                    </aside>
                    <div class="container col-12 text-secondary pt-4 pb-5">
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="name"><h5>Full name</h5></label>
                            <input type="text" name="name" class="form-control col-8 ml-auto" required>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="email"><h5>Email</h5></label>
                            <input type="email" name="email" class="form-control col-8 ml-auto" required>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="password"><h5>Password</h5></label>
                            <input type="password" name="password" class="form-control col-8 ml-auto" required>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="mobile"><h5>Phone</h5></label>
                            <input type="tel" name="mobile" class="form-control col-8 ml-auto" required>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="dob"><h5>DOB</h5></label>
                            <input type="date" name="dob" class="form-control col-8 ml-auto" required>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="birth_time"><h5>Birth time</h5></label>
                            <input type="time" name="birth_time" class="form-control col-8 ml-auto" required>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="birth_place"><h5>Birth Place</h5></label>
                            <input type="text" name="birth_place" class="form-control col-8 ml-auto" required>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="caste"><h5>Religion</h5></label>
                            <input type="text" name="caste" class="form-control col-8 ml-auto" list="caste">
                            <datalist name="caste" id="caste">
                                <option value="hindu">Hindu</option>
                                <option value="christian">Christian</option>
                                <option value="musleum">Musleum</option>
                                <option value="nobar">No bar</option>
                            </datalist>
                        </div>

                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="caste"><h5>Caste</h5></label>
                            <input type="text" name="caste" class="form-control col-8 ml-auto" list="caste">
                            <datalist name="caste" id="caste">
                                <option value="brahmin">Brahmin</option>
                                <option value="chettiyar">Chettiyar</option>
                                <option value="gounder">Gounder</option>
                                <option value="mudhaliyar">Mudhaliyar</option>
                            </datalist>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="subcaste"><h5>Sub caste</h5></label>
                            <input type="text" name="subcaste" class="form-control col-8 ml-auto" list="subcaste">
                            <datalist name="subcaste" id="subcaste">
                                <optgroup label="Brahmin">
                                    <option value="iyer">Iyer</option>
                                    <option value="iyengar">Iyengar</option>
                                </optgroup>
                                <optgroup label="Gounder">
                                    <option value="vellalar">Vellalar</option>
                                    <option value="gaura">Gaura</option>
                                </optgroup>
                            </datalist>        
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="gothram"><h5>Gothram</h5></label>
                            <input type="text" name="gothram" class="form-control col-8 ml-auto" list="gothram">
                            <datalist name="gothram" id="gothram">
                                <option value="brahacharanam">Bracharanam</option>
                                <option value="vadamal">Vadamal</option>
                                <option value="srivathsa">Srivathsa</option>
                            </datalist>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="star"><h5>Star</h5></label>
                            <input type="text" name="star" class="form-control col-8 ml-auto" list="star">
                            <datalist name="star" id="star">
                                <option value="uthiram"></option>
                                <option value="hastham"></option>
                                <option value="barani"></option>
                            </datalist>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="qualification"><h5>Qualification</h5></label>
                            <input type="text" name="qualification" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="job"><h5>Job</h5></label>        
                            <input type="text" name="job" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="work_place"><h5>Work place</h5></label>
                            <input type="text" name="work_place" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="income"><h5>Income</h5></label>
                            <input type="number" name="income" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="height"><h5>Height(ft)</h5></label>
                            <input type="number" name="height" class="form-control col-8 ml-auto">
                        </div>

                        <div class="form-group mb-2 row col-10 mx-auto">    
                            <label class="col-form-label" for="weight"><h5>Weight(kg)</h5></label>
                            <input type="number" name="weight" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="mother_tongue"><h5>Mother Tongue</h5></label>
                            <input type="text" name="mother_tongue" class="form-control col-8 ml-auto" list="mother_tongue">
                            <datalist name="mother_tongue" id="mother_tongue">
                                <option value="Tamil"></option>
                                <option value="Telugu"></option>
                                <option value="Malayalam"></option>
                                <option value="Hindi"></option>
                                <option value="Kannada"></option>
                            </datalist>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="known_language"><h5>Known language</h5></label>
                            <input type="text" name="known_language" class="form-control col-8 ml-auto" list="known_language">
                            <datalist name="known_language[]" multiple id="known_language">
                                <option value="Tamil"></option>
                                <option value="English"></option>
                                <option value="Telugu"></option>
                                <option value="Malayalam"></option>
                                <option value="Hindi"></option>
                                <option value="Kannada"></option>
                                <option value="Thulu"></option>
                                <option value="Marati"></option>
                            </datalist>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="nativity"><h5>Nativity</h5></label>
                            <input type="text" name="nativity" class="form-control col-8 ml-auto" list="nativity">
                            <datalist name="nativity" id="nativity">
                                <option value="trichy"></option>
                                <option value="coimbatore"></option>
                                <option value="salem"></option>
                                <option value="tirupur"></option>
                                <option value="chennai"></option>
                            </datalist>
                        </div>
            
                        <div class="form-group mb-3 row col-10 mx-auto">
                            <label class="col-form-label"><h5>Marital status</h5></label>
                            
                            <div class="form-check form-check-inline offset-md-3">
                                <input class="form-check-input" type="radio" >
                                <label class="form-check-label">Unmarried</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-2">
                                <input class="form-check-input" type="radio">
                                <label class="form-check-label">Married</label>
                            </div>
                        </div>
            
                        <div class="form-group mb-3 row col-10 mx-auto">
                            <label class="col-form-label" for="talents"><h5>Talents</h5></label>
                            <textarea name="talents" cols="50" rows="4" class="form-control ml-auto"></textarea>
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="hobbies"><h5>Hobbies</h5></label>
                            <textarea name="hobbies" cols="50" rows="3" class="form-control ml-auto"></textarea>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label"><h5>Vehicle driving</h5></label>
                            <div class="form-check form-check-inline offset-md-3">
                                <input class="form-check-input" type="checkbox" >
                                <label class="form-check-label">Two wheeler</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-2">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label">Four wheeler</label>
                            </div>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label"><h5>Disabilities</h5></label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                            <div class="form-check form-check-inline offset-md-3">
                                <input class="form-check-input" type="radio" >
                                <label class="form-check-label">Normal</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-2">
                                <input class="form-check-input" type="radio">
                                <label class="form-check-label">Physically challenged</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="container">
        <fieldset class="border-custom card rounded mt-5">
            <h2 class="text-center card-header text-white">Horoscope</h2>
            <div class="container row mx-auto mt-5 mb-5">
                <table class="form-group mb-2 mx-auto">
                    <tbody>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td rowspan="2" colspan="2">
                                <h2 class="text-center">RASI</h2>
                            </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                    </tbody>
                </table>
                <table class="form-group mb-2 mx-auto">
                    <tbody>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td rowspan="2" colspan="2">
                                <h2 class="text-center">AMSAM</h2>
                            </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <fieldset class="border-custom card rounded mt-5">       
                    <h2 class="text-center card-header text-white">Family details</h2>
                    <div class="container text-secondary col-12">
                        <div class="form-group mb-2 mt-5 row col-10 mx-auto">
                            <label class="col-form-label" for="father_name"><h5>Father name</h5></label>
                            <input type="text" name="father_name" class="form-control col-8 ml-auto">
                        </div>

                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="father_occupation"><h5>Father occupation</h5></label>
                            <input type="text" name="father_occupation" class="form-control col-8 ml-auto">
                        </div>

                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="mother_name"><h5>Mother name</h5></label>
                            <input type="text" name="mother_name" class="form-control col-8 ml-auto">
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="mother_occupation"><h5>Mother occupation</h5></label>
                            <input type="text" name="mother_occupation" class="form-control col-8 ml-auto">
                        </div>
                        
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="family_contact"><h5>Family contact</h5></label>
                            <input type="tel" name="family_contact" class="form-control col-8 ml-auto">
                        </div>

                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="sibiling_count"><h5>Sibiling Count</h5></label>
                            <input type="number" name="sibiling_count" class="form-control col-8 ml-auto">
                        </div>

                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label"><h5>Family Status</h5></label>
                            
                            <div class="form-check form-check-inline offset-md-3">
                                <input class="form-check-input" type="radio">
                                <label class="form-check-label">Middle Class</label>
                            </div>

                            <div class="form-check form-check-inline offset-md-1">
                                <input class="form-check-input" type="radio">
                                <label class="form-check-label">Rich</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-1">
                                <input class="form-check-input" type="radio">
                                <label class="form-check-label">Affluent</label>
                            </div>
                        </div>
                        
                        <div class="form-group mb-4 row col-10 mx-auto">
                            <label class="col-form-label" for="property"><h5>Property</h5></label>
                            <textarea class="form-control ml-auto" name="property" cols="50" rows="4" placeholder="e.g. 1 flat in Bangalore..."></textarea>
                        </div>

                        <div class="form-group mb-5 row col-10 mx-auto">
                            <label class="col-form-label" for="anydetails"><h5>Other details</h5></label>
                            <textarea class="form-control ml-auto" name="anydetails" cols="50" rows="4" placeholder="Write something about you..."></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <fieldset class="border-custom card rounded mt-5">
                    <h2 class="text-center card-header text-white">Partner expectations</h2>
                    <div class="container text-secondary col-12">
                        
                        <div class="form-group mb-2 mt-5 row col-10 mx-auto">
                            <label class="col-form-label" for="expected_qualification"><h5>Qualification</h5></label>
                            <input type="text" name="expected_qualification" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="expected_place"><h5>Settle Location</h5></label>
                            <input type="text" name="expected_place" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="expected_income"><h5>Income</h5></label>
                            <input type="number" name="expected_income" class="form-control col-8 ml-auto">
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="expected_caste"><h5>Caste</h5></label>
                            <input type="text" name="expected_caste" class="form-control col-8 ml-auto" list="expected_caste">
                            <datalist name="expected_caste" id="expected_caste">
                                <option value="brahmin">Brahmin</option>
                                <option value="chettiyar">Chettiyar</option>
                                <option value="gounder">Gounder</option>
                                <option value="mudhaliyar">Mudhaliyar</option>
                            </datalist>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="expected_subcaste"><h5>Sub caste</h5></label>
                            <select name="expected_subcaste" id="expected_subcaste" class="form-control col-8 ml-auto">
                                <option value="nobar">No bar</option>
                                <optgroup label="Brahmin">
                                    <option value="iyer">Iyer</option>
                                    <option value="iyengar">Iyengar</option>
                                </optgroup>
                                <optgroup label="Gounder">
                                    <option value="vellalar">Vellalar</option>
                                    <option value="gaura">Gaura</option>
                                </optgroup>
                            </select>        
                        </div>

                        <div class="form-group mb-3 row col-10 mx-auto">
                            <label class="col-form-label"><h5>Marital status</h5></label>
                            
                            <div class="form-check form-check-inline offset-md-3">
                                <input class="form-check-input" type="radio" >
                                <label class="form-check-label">Unmarried</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-2">
                                <input class="form-check-input" type="radio">
                                <label class="form-check-label">Married</label>
                            </div>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label"><h5>Age difference</h5></label>
                            <div class="form-check form-check-inline offset-md-3">
                                <input class="form-check-input" type="checkbox" >
                                <label class="form-check-label">0-3</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-1">
                                <input class="form-check-input" type="checkbox" >
                                <label class="form-check-label">4-6</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-1">
                                <input class="form-check-input" type="checkbox" >
                                <label class="form-check-label">7-10</label>
                            </div>
                            <div class="form-check form-check-inline offset-md-1">
                                <input class="form-check-input" type="checkbox" >
                                <label class="form-check-label">10 above</label>
                            </div>
                        </div>
            
                        <div class="form-group mb-2 row col-10 mx-auto">
                            <label class="col-form-label" for="expected_height"><h5>Height(ft)</h5></label>
                            <input type="number" name="expected_height" class="form-control col-8 ml-auto">
                        </div>

                        <div class="form-group mb-2 row col-10 mx-auto">    
                            <label class="col-form-label" for="expected_weight"><h5>Weight(kg)</h5></label>
                            <input type="number" name="expected_weight" class="form-control col-8 ml-auto">
                        </div>
                        
                        <div class="form-group mb-5 mt-3 row col-10 mx-auto">
                            <label class="col-form-label" for="expectations"><h5>Other expectations</h5></label>
                            <textarea name="expectations" cols="50" rows="4" class="form-control ml-auto" placeholder="Write your expectations of your partner..."></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="container text-center mb-5">
        <div class="text-center">
            <button class="btn btn-lg submit-btn col-4" type="submit">Submit</button>
            <button class="btn btn-lg cancel-btn col-4 offset-md-2" type="reset">Cancel</button>
        </div>
    </div>
</form>
