<form action="" class="form-inline" autocomplete="off">
    <div class="container">
        <fieldset class="scheduler-border card border-custom mt-5">
            <legend class="header scheduler-border mb-5 text-center">
                <h2>Personal details</h2>
            </legend>
            <div class="container">

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="name"> Full name</label>
                    <input type="text" name="name" class="form-control col-4" required>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="email">Email</label>
                    <input type="email" name="email" class="form-control col-4" required>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="password">New password</label>
                    <input type="password" name="password" class="form-control col-4" required>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="mobile">Mobile number</label>
                    <input type="tel" name="mobile" class="form-control col-4" required>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="dob">DOB</label>
                    <input type="date" name="dob" class="form-control col-4" required>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="birth_time">Birth time</label>
                    <input type="time" name="birth_time" class="form-control col-4" required>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="birth_place">Birth Place</label>
                    <input type="text" name="birth_place" class="form-control col-4" required>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="caste">Religion</label>
                    <input type="text" name="caste" class="form-control col-4" list="caste">
                    <datalist name="caste" id="caste">
                        <option value="hindu">Hindu</option>
                        <option value="christian">Christian</option>
                        <option value="musleum">Musleum</option>
                        <option value="nobar">No bar</option>
                    </datalist>
                </div>

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="caste">Caste</label>
                    <input type="text" name="caste" class="form-control" list="caste">
                    <datalist name="caste" id="caste">
                        <option value="brahmin">Brahmin</option>
                        <option value="chettiyar">Chettiyar</option>
                        <option value="gounder">Gounder</option>
                        <option value="mudhaliyar">Mudhaliyar</option>
                    </datalist>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="subcaste">Sub caste</label>
                    <input type="text" name="subcaste" class="form-control" list="subcaste">
                    <datalist name="subcaste" id="subcaste">
                        <optgroup label="Brahmin">
                            <option value="iyer">Iyer</option>
                            <option value="iyengar">Iyengar</option>
                        </optgroup>
                        <optgroup label="Gounder">
                            <option value="vellalar">Vellalar</option>
                            <option value="gaura">Gaura</option>
                        </optgroup>
                    </datalist>        
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="gothram">Gothram</label>
                    <input type="text" name="gothram" class="form-control" list="gothram">
                    <datalist name="gothram" id="gothram">
                        <option value="brahacharanam">Bracharanam</option>
                        <option value="vadamal">Vadamal</option>
                        <option value="srivathsa">Srivathsa</option>
                    </datalist>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="star">Star</label>
                    <input type="text" name="star" class="form-control" list="star">
                    <datalist name="star" id="star">
                        <option value="uthiram"></option>
                        <option value="hastham"></option>
                        <option value="barani"></option>
                    </datalist>
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="qualification">Qualification</label>
                    <input type="text" name="qualification" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="job">Job</label>        
                    <input type="text" name="job" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="work_place">Work place</label>
                    <input type="text" name="work_place" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="income">Income</label>
                    <input type="number" name="income" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="height">Height(ft)</label>
                    <input type="number" name="height" class="form-control">
    
                    <label class="offset-md-2 col-form-label" for="weight">Weight(kg)</label>
                    <input type="number" name="weight" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="mother_tongue">Mother Tongue</label>
                    <input type="text" name="mother_tongue" class="form-control" list="mother_tongue">
                    <datalist name="mother_tongue" id="mother_tongue">
                        <option value="Tamil"></option>
                        <option value="Telugu"></option>
                        <option value="Malayalam"></option>
                        <option value="Hindi"></option>
                        <option value="Kannada"></option>
                    </datalist>
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="known_language">Known language</label>
                    <input type="text" name="known_language" class="form-control" list="known_language">
                    <datalist name="known_language[]" multiple id="known_language">
                        <option value="Tamil"></option>
                        <option value="English"></option>
                        <option value="Telugu"></option>
                        <option value="Malayalam"></option>
                        <option value="Hindi"></option>
                        <option value="Kannada"></option>
                        <option value="Thulu"></option>
                        <option value="Marati"></option>
                    </datalist>
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="nativity">Nativity</label>
                    <input type="text" name="nativity" class="form-control" list="nativity">
                    <datalist name="nativity" id="nativity">
                        <option value="trichy"></option>
                        <option value="coimbatore"></option>
                        <option value="salem"></option>
                        <option value="tirupur"></option>
                        <option value="chennai"></option>
                    </datalist>
                </div>
    
                <div class="form-group">
                    <!-- <div class="row"> -->
                    <label class="col-form-label">Marital status</label>
                    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" >
                        <label class="form-check-label">Unmarried</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio">
                        <label class="form-check-label">Married</label>
                    </div>
                    <!-- </div> -->
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="talents">Talents</label>
                    <textarea name="talents" cols="50" rows="4" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="hobbies">Hobbies</label>
                    <textarea name="hobbies" cols="30" rows="3" class="form-control"></textarea>
                </div>
    
                <div class="form-group">
                    <!-- <div class="row"> -->
                    <label class="col-form-label">Vehicle driving</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label">Two wheeler</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">Four wheeler</label>
                    </div>
                    <!-- </div> -->
                </div>
    
                <div class="form-group">
                    <!-- <div class="row"> -->
                    <label class="col-form-label">Disabilities</label>
                    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" >
                        <label class="form-check-label">Normal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio">
                        <label class="form-check-label">Physically challenged</label>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </fieldset>
    </div>

    <div class="container">
        <fieldset class="scheduler-border border-custom card mt-5">
            <legend class="header scheduler-border mb-4 text-center">
                <h2>Horoscope</h2>
            </legend>
            <div class="container row mt-5 mb-5">
                <table class="form-group mx-auto">
                    <tbody>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td rowspan="2" colspan="2">
                                <h2 class="text-center">RASI</h2>
                            </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                    </tbody>
                </table>
                <table class="form-group mx-auto">
                    <tbody>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td rowspan="2" colspan="2">
                                <h2 class="text-center">AMSAM</h2>
                            </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                        <tr>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                            <td> <textarea type="text" cols="8" rows="4" name="1" class="form-control"></textarea> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>

    <div class="container">
        <fieldset class="scheduler-border border-custom card mt-5">       
            <legend class="header scheduler-border mb-5 text-center">
                <h2>Family details</h2>
            </legend>
            <div class="container">

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="father_name">Father name</label>
                    <input type="text" name="father_name" class="form-control">
                </div>

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="father_occupation">Father occupation</label>
                    <input type="text" name="father_occupation" class="form-control">
                </div>

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="mother_name">Mother name</label>
                    <input type="text" name="mother_name" class="form-control">
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="mother_occupation">Mother occupation</label>
                    <input type="text" name="mother_occupation" class="form-control">
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="family_contact">Family contact</label>
                    <input type="tel" name="family_contact" class="form-control">
                </div>

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="sibiling_count">Sibiling Count</label>
                    <input type="number" name="sibiling_count" class="form-control">
                </div>

                <div class="form-group">
                    <!-- <div class="row"> -->
                    <label class="col-form-label">Family Status</label>
                    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio">
                        <label class="form-check-label">Middle Class</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio">
                        <label class="form-check-label">Upper Middle Class</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio">
                        <label class="form-check-label">Rich</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio">
                        <label class="form-check-label">Affluent</label>
                    </div>
                    <!-- </div> -->
                </div>

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="property">Property</label>
                    <textarea name="property" cols="50" rows="4" placeholder="e.g. 1 flat in Bangalore..."></textarea>
                </div>

                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="anydetails">Other details</label>
                    <textarea name="anydetails" cols="50" rows="4" placeholder="Write something about you..."></textarea>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="container mb-5">
        <fieldset class="scheduler-border border-custom card mt-5">
            <legend class="header scheduler-border mb-5 text-center">
                <h2>Partner expectations</h2>
            </legend>
            <div class="container">
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="expected_qualification">Qualification</label>
                    <input type="text" name="expected_qualification" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="expected_place">Settle Location</label>
                    <input type="text" name="expected_place" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="expected_income">Income</label>
                    <input type="number" name="expected_income" class="form-control">
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="expected_caste">caste</label>
                    <input type="text" name="expected_caste" class="form-control" list="expected_caste">
                    <datalist name="expected_caste" id="expected_caste">
                        <option value="brahmin">Brahmin</option>
                        <option value="chettiyar">Chettiyar</option>
                        <option value="gounder">Gounder</option>
                        <option value="mudhaliyar">Mudhaliyar</option>
                    </datalist>
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="expected_caste">Sub caste</label>
                    <select name="expected_subcaste" id="expected_subcaste" class="form-control">
                        <option value="nobar">No bar</option>
                        <optgroup label="Brahmin">
                            <option value="iyer">Iyer</option>
                            <option value="iyengar">Iyengar</option>
                        </optgroup>
                        <optgroup label="Gounder">
                            <option value="vellalar">Vellalar</option>
                            <option value="gaura">Gaura</option>
                        </optgroup>
                    </select>        
                </div>
    
                <div class="form-group">
                    <!-- <div class="row"> -->
                    <label class="col-form-label">Marital status</label>
                    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" >
                        <label class="form-check-label">Unmarried</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio">
                        <label class="form-check-label">Married</label>
                    </div>
                    <!-- </div> -->
                </div>
    
                <div class="form-group">
                    <!-- <div class="row"> -->
                    <label class="col-form-label">Age difference</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label">0-3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label">4-6</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label">7-10</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label">10 above</label>
                    </div>
                    <!-- </div> -->
                </div>
    
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="expected_height">Height(ft)</label>
                    <input type="number" name="expected_height" class="form-control border-bottom-2">
    
                    <label class="offset-md-2 col-form-label" for="expected_weight">Weight(kg)</label>
                    <input type="number" name="expected_weight" class="form-control">
                </div>
                
                <div class="form-group">
                    <label class="offset-md-2 col-form-label" for="expectations">Other expectations</label>
                    <textarea name="expectations" cols="50" rows="4" placeholder="Write your expectations of your partner..."></textarea>
                </div>
            </div>
        </fieldset>
    </div>
</form>
